/* --------------- Reset --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --------------- Header --------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    color: #FFFFFF;
    gap: 5vw;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover {
    transform: scale(1.3);
    transition: 2s;
}

#current {
    color: #9c9b9b;
}


/* --------------- Body --------------- */
#container {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;  
    border-radius: 10px 10px 10px 10px;
    top: 40%;
    position: absolute;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

input {
    width: 4vw;
}

body {
    background-image: url('./assests/background.jpg');
    background-position: center;
    background-position-y: 10px;
}

forms{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}

#submit {
    width: 5vw;
    height: 4vh;
    background-color: #42692e;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px 5px 5px 5px;
}

#submit:hover {
    transform: scale(1.2);
    transition: 1.5s;
    filter: brightness(130%);
}


h2 {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}


h3 {
    color: #00ff00;
    font-family: 'Times New Roman', Times, serif;
}

/* --------------- Footer --------------- */
footer{
    width: 100vw;
    height: 6vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0vw;
    margin-top: 2vw;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials a {
    text-decoration: none;
    color: #FFFFFF;
}

.socials a:hover i {
    color:#4d4d4d;
    transform: scale(2.5);
    transition: 2s;
}